<div id="wrap">
  <header class="masthead">
    <div class="container">
    </div>
  </header>
</div>

<!-- Begin page content -->
<div class="divider" id="section1"></div>
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1" style="padding:20px;background-color:rgba(20,4,50,.4);border-radius:10px;">
      <div class="page-header text-center">
        <h1>We love Rock / We play Rock</h1>
      </div>
      <p class="lead text-center">
        We're a duo... So we play fucking loud!
      </p>
      <p class="text-center">
        Very found of the 90's, but not only, The Scars come from the HxC scene. Pi Pow hits the drums like hell, and has played in many bands in France and in canada. Very interested in the underground, he came naturally to the kind of band which is not a proper one. Only two people!!! Joan krugg is the other hand of the scars's body. He grinds the strings more than he plays them... who cares? These two guys believe in the show and the energy it conveys to people... Enjoy a show with the scars!
      </p>
    </div>
  </div>

<div class="divider" id="section2"></div>
  <section class="bg-1">
    <div class="row">
      <div class="col-sm-6 text-center"><h2 style="padding:20px;background-color:rgba(20,4,50,.4);border-radius:10px;">Pi Pow / Drums&back vocals </h2></div>
      <div class="col-sm-6 text-center"><h2 style="padding:20px;background-color:rgba(20,4,50,.4);border-radius:10px;">Joan Krugg / Guitar&lead vocals</h2></div>
    </div>
  </section>

<div class="divider" id="section3"></div>
  <section class="bg-2">
    <div class="container">
      <div class="col-sm-8 col-sm-offset-2 text-center" style="padding:20px;background-color:rgba(20,4,50,.4);border-radius:10px;"><h1>Get our music on <a href="https://thescarsbordeaux.bandcamp.com/releases" id= "lien">Bandcamp</a></h1>

        <p>
        Instead of creating a unique version of the webpage for each desktop, mobile &amp; tablet, you can now create one design that works on all devices, browsers &amp; resolutions. Your designs will be future ready when a new table or phone size comes in the market, your designs will adapt itself and fit to the new screen size.
        </p>

        <hr>

        <img src="" class="img-responsive">

        <hr>
      </div><!--/col-->
    </div><!--/container-->
  </section>

<div class="divider"></div>
  <section class="bg-3">
    <div class="col-sm-6 col-sm-offset-3 text-center">

      <h2 style="padding:20px;background-color:rgba(20,4,50,.4);border-radius:10px;">
        <a href="https://www.facebook.com/Scarsnoise/?fref=ts" class="white-link" id="lien">
          <i class="fa fa-facebook"></i>
        </a>
          We are linked
        <a href="https://www.instagram.com/the_scars_bdx/" class="share-link bg-instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </h2>
    </div>
  </section>

<div class="divider" id="section4"></div>
  <div class="container bg-4">
    <div class="row">
       <div class="col-sm-4 col-xs-6">

          <div class="panel panel-default">
            <div><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,h_250,w_450/v1482173444/B4_stage_ao3dzo.jpg" class="img-responsive"></div>
            <div class="panel-body" style="padding:20px;background-color:rgba(20,4,50,.4);">
              <p class="lead">Making "We ruined everything"</p>
                <ul class ="move">
                  <li>Special Thanx to Rock School Barbey</li>
                  <li>Special Thanx to One Way project</li>
                  <li>Special Thanx to Guillaume From Defeat the foe</li>
                </ul>
              <p>
                <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
              </p>
            </div>
          </div><!--/panel-->
        </div><!--/col-->

        <div class="col-sm-4 col-xs-6">

          <div class="panel panel-default">
            <div class="panel-thumbnail"><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,h_250,w_450/v1482163130/DSC_0106_shuzlo.jpg" class="img-responsive"></div>
            <div class="panel-body">
              <p class="lead">Shooting "Black vynile on a face"</p>
                <ul class ="move">
                  <li>Special Thanx to Jegro Grihon</li>
                  <li>Special Thanx to Pi Pow</li>
                  <li>Special Thanx for the weather</li>
                </ul>
              <p>
                <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
              </p>
            </div>
          </div><!--/panel-->
        </div><!--/col-->

        <div class="col-sm-4 col-xs-6">

          <div class="panel panel-default">
            <div class="panel-thumbnail"><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,h_250,w_450/v1482173551/PiPow_ehkgvj.jpg" class="img-responsive"></div>
            <div class="panel-body" style="padding:20px;background-color:rgba(20,4,50,.4);">
              <p class="lead">Making "We ruined everything"</p>
                <ul class ="move">
                  <li>Special Thanx to Rock School Barbey</li>
                  <li>Special Thanx to One Way project</li>
                  <li>Special Thanx to Pi Pow in service of good taste</li>
                </ul>
              <p>
                <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
              </p>
            </div>
          </div><!--/panel-->

        </div><!--/col-->
    </div><!--/row-->
      <div class="row">
       <div class="col-sm-4 col-xs-6">

          <div class="panel panel-default">
            <div><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,h_250,w_450/v1482163117/DSC_0067_rvqd1j.jpg" class="img-responsive"></div>
            <div class="panel-body">
              <p class="lead">Shooting "Black vynile on a face"</p>
                <ul class ="move">
                  <li>Special Thanx to Jegro Grihon</li>
                  <li>Special Thanx to Pi Pow</li>
                  <li>Special Thanx for the weather</li>
                </ul>
              <p>
                <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
              </p>
            </div>
          </div><!--/panel-->
        </div><!--/col-->

        <div class="col-sm-4 col-xs-6">

          <div class="panel panel-default">
            <div class="panel-thumbnail"><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,h_250,w_450/v1482095531/IMG_20160210_002927_tfozk6.jpg" class="img-responsive"></div>
            <div class="panel-body" style="padding:20px;background-color:rgba(20,4,50,.4);">
              <p class="lead">Rehearsal "2 or 3 times a week"</p>
                <ul class ="move">
                  <li>Special Thanx to Rock School Barbey</li>
                  <li>Special Thanx to Baba</li>
                  <li>Special Thanx to The SCARS</li>
                </ul>
              <p>
                <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
              </p>
            </div>
          </div><!--/panel-->
        </div><!--/col-->

        <div class="col-sm-4 col-xs-6">

          <div class="panel panel-default">
            <div class="panel-thumbnail"><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,h_250,w_450/v1482169739/download_oyyevz.jpg" class="img-responsive"></div>
            <div class="panel-body">
              <p class="lead">Stage "With RoRscha"</p>
                <ul class ="move">
                  <li>Special Thanx to Rock School Barbey</li>
                  <li>Special Thanx to RoRscha</li>
                  <li>Special Thanx to Le BT St Michel</li>
                </ul>
              <p>
                <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
              </p>
            </div>
          </div><!--/panel-->

        </div><!--/col-->
    </div><!--/row-->
  </div><!--/container-->

<div class="divider" id="section5"></div>

  <div class="row">
    <h1 class="text-center">Where do you want us to play?</h1>
    <div id="map-canvas"></div>
    <hr>
  <div class="col-sm-8">
    <div class="row form-group">
      <div class="col-xs-3">
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="">
      </div>
      <div class="col-xs-3">
        <input type="text" class="form-control" id="middleName" name="firstName" placeholder="Middle Name" required="">
      </div>
      <div class="col-xs-4">
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="">
      </div>
    </div>
      <div class="row form-group">
        <div class="col-xs-5">
          <input type="email" class="form-control" name="email" placeholder="Email" required="">
        </div>
        <div class="col-xs-5">
          <input type="email" class="form-control" name="phone" placeholder="Phone" required="">
        </div>
      </div>
        <div class="row form-group">
          <div class="col-xs-10">
          <input type="homepage" class="form-control" placeholder="Website URL" required="">
          </div>
        </div>
      <div class="row form-group">
        <div class="col-xs-10">
          <button class="btn btn-default pull-right">Contact Us</button>
        </div>
      </div>
    </div>
  <div class="col-sm-3 pull-right">

      <address>
        <strong>THE SCARS</strong><br>
        80, RUE DES TERRES DE BORDE<br>
        33800 BDX
      </address>

      <address>
        <strong>Email Us</strong><br>
        <a href="mailto:#">thescarsbdx@gmail.com</a>
      </address>
  </div>

</div><!--/row-->

<div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">

      <p>Get more free templates like this at the <a href="http://bootply.com">Bootstrap Playground</a>, Bootply.</p>
      <hr>
<div class="share-links">
  <a href="https://www.facebook.com/Scarsnoise/?fref=ts" class="share-link bg-facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="https://www.instagram.com/the_scars_bdx/" class="share-link bg-twitter">
    <i class="fa fa-instagram"></i>
  </a>
  <a href="#" class="share-link bg-email">
    <i class="fa fa-envelope-o"></i>
  </a>
  <a href="#" class="share-link bg-text">
    <i class="fa fa-mobile"></i>
  </a>
</div>

    </div><!--/col-->
</div><!--/container-->

</div><!--/wrap-->



<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

